In [1]:
print("Hello World!")

Hello World!

In [7]:
username1 = "john"
username2 = "jacob"
username3 = "jingle"
username4 = "hymer"
username5 = "schmitt"

print(username1)
print(username2)
print(username3)
print(username4)
print(username5)

# does work....but a BIG security hole
for i in range(1, 6):
    print(eval(f"username{i}"))

eval("print('hello world')")

eval("p" + "rint" + "('he" + "llo')")

john
jacob
jingle
hymer
schmitt
john
jacob
jingle
hymer
schmitt
hello world
hello

In [ ]:
# basic list   0       1       2        3        4
usernames = ["john","jacob","jingle","hymer","schmitt", "jill"]
print(usernames)

# "5" is a "magic number"
for i in range(5): # 0 1 2 3 4
    print(usernames[i])

['john', 'jacob', 'jingle', 'hymer', 'schmitt', 'jill']
john
jacob
jingle
hymer
schmitt

In [15]:
# how many items are in the list?
usernames = ["john","jacob","jingle","hymer","schmitt", "jill", "joe"]
len(usernames)

7

In [ ]:
# iterating through list
usernames = ["john","jacob","jingle","hymer","schmitt", "jill"]

# one way, works but wordy
for i in range(len(usernames)):
    print(usernames[i])
print("--")
# also works
i = 0
while (i < len(usernames)):
    print(usernames[i])
    i += 1

print("--")
# a list specific way (shorter and easier to read/use)
for username in usernames:
    print(username)

john
jacob
jingle
hymer
schmitt
jill
--
john
jacob
jingle
hymer
schmitt
jill
--
john
jacob
jingle
hymer
schmitt
jill

In [27]:
grades = ["12", "56", "27", "78", "42", "59"]
for grade in grades:
    print(grade)

12
56
27
78
42
59

In [28]:
# a list can consist of anything
items = [2, 2.21, "number", True, 1 < 4, [1, 2, 3]]
items

[2, 2.21, 'number', True, True, [1, 2, 3]]

In [ ]:
# what if I don't know what the items are?
data = [0] * 100
i = 0
while True:
    user_input = input("Enter a number: ")
    if user_input == "":
        break
    data[i] = user_input
    i += 1
    if i >= len(data):
        break

print(data)

['1', '2', '3', '4', '5']

In [ ]:
# create a list of known size, but not known values
data = [0] * 10
data

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
# create a list with the values 1 through 10
values = [0] * 10
for i in range(1, 11):
    values[i-1] = i
values

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [39]:
# create a list with the values 2 through 20 by 2s
values = list(range(2, 21, 2))
values

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [43]:
# fill an empty list
empty = []
for i in range(5):
    empty.insert(0, i)
empty.insert(0, "first")
empty.insert(1, "second")
empty

['first', 'second', 4, 3, 2, 1, 0]

In [46]:
# append to a list
empty = []
empty.append("first")
empty.append("second")
empty.append("third")
empty

['first', 'second', 'third']