In [1]:
print("Hello World!")

Hello World!

In [7]:
username1 = "john"
username2 = "jacob"
username3 = "jingle"
username4 = "hymer"
username5 = "schmitt"

print(username1)
print(username2)
print(username3)
print(username4)
print(username5)

# does work....but a BIG security hole
for i in range(1, 6):
    print(eval(f"username{i}"))

eval("print('hello world')")

eval("p" + "rint" + "('he" + "llo')")

john
jacob
jingle
hymer
schmitt
john
jacob
jingle
hymer
schmitt
hello world
hello

In [ ]:
# basic list   0       1       2        3        4
usernames = ["john","jacob","jingle","hymer","schmitt", "jill"]
print(usernames)

# "5" is a "magic number"
for i in range(5): # 0 1 2 3 4
    print(usernames[i])

['john', 'jacob', 'jingle', 'hymer', 'schmitt', 'jill']
john
jacob
jingle
hymer
schmitt

In [15]:
# how many items are in the list?
usernames = ["john","jacob","jingle","hymer","schmitt", "jill", "joe"]
len(usernames)

7

In [ ]:
# iterating through list
usernames = ["john","jacob","jingle","hymer","schmitt", "jill"]

# one way, works but wordy
for i in range(len(usernames)):
    print(usernames[i])
print("--")
# also works
i = 0
while (i < len(usernames)):
    print(usernames[i])
    i += 1

print("--")
# a list specific way (shorter and easier to read/use)
for username in usernames:
    print(username)

john
jacob
jingle
hymer
schmitt
jill
--
john
jacob
jingle
hymer
schmitt
jill
--
john
jacob
jingle
hymer
schmitt
jill

In [27]:
grades = ["12", "56", "27", "78", "42", "59"]
for grade in grades:
    print(grade)

12
56
27
78
42
59

In [28]:
# a list can consist of anything
items = [2, 2.21, "number", True, 1 < 4, [1, 2, 3]]
items

[2, 2.21, 'number', True, True, [1, 2, 3]]

In [ ]:
# what if I don't know what the items are?
data = [0] * 100
i = 0
while True:
    user_input = input("Enter a number: ")
    if user_input == "":
        break
    data[i] = user_input
    i += 1
    if i >= len(data):
        break

print(data)

['1', '2', '3', '4', '5']

In [ ]:
# create a list of known size, but not known values
data = [0] * 10
data

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
# create a list with the values 1 through 10
values = [0] * 10
for i in range(1, 11):
    values[i-1] = i
values

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [39]:
# create a list with the values 2 through 20 by 2s
values = list(range(2, 21, 2))
values

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [43]:
# fill an empty list
empty = []
for i in range(5):
    empty.insert(0, i)
empty.insert(0, "first")
empty.insert(1, "second")
empty

['first', 'second', 4, 3, 2, 1, 0]

In [46]:
# append to a list
empty = []
empty.append("first")
empty.append("second")
empty.append("third")
empty

['first', 'second', 'third']

In [ ]:
# remove from list
fruit = ["apple", "banana", "tomato", "blueberry"]
# del fruit[2]
# fruit.remove("tomato")
fruit.pop() # removes from end of list
fruit

['apple', 'banana', 'tomato']

In [ ]:
# slicing a list
fruit = ["apple", "banana", "tomato", "blueberry"]
fruit[-4] # start from right-side (-1)
fruit[0:2] # take elements 0 through 1 (tomato is 2)
fruit[0:-2] # take elements 0 through 1 (tomato is -2)
fruit[0:2] + fruit[-1:]
fruit = fruit[0:2] + fruit[-1:] # removes tomato
fruit

['apple', 'banana', 'blueberry']

In [17]:
# find an index
fruit = ["apple", "banana", "tomato", "blueberry"]
fruit.index("tomato")

2

In [21]:
# lists can contain anything (even other lists)
misc_stuff = ["apple", 3, 3.14159, True, [1, 2, [4, 5, 6]]]
misc_stuff[4][2][1]

5

In [28]:
# more lists within lists
# a 2 dimensional (2D) list
tic_tac_toe = [
    ['X', 'O', 'X'], # tic_tac_toe[0]
    ['O', 'X', 'O'], # tic_tac_toe[1]
    ['X', 'O', 'X']  # tic_tac_toe[2]
]
tic_tac_toe[1][1] = 'O' # the center 'X'
tic_tac_toe

for row in tic_tac_toe:
    for col in row:
        print(f"{col}|", end="")
    print()

X|O|X|
O|O|O|
X|O|X|

In [46]:
# tic tac toe game
tic_tac_toe = [
    ['1', '2', '3'], # tic_tac_toe[0]
    ['4', '5', '6'], # tic_tac_toe[1]
    ['7', '8', '9']  # tic_tac_toe[2]
]

user = 'X'
while True:
    for row in tic_tac_toe:
        for col in row:
            print(f"{col}|", end="")
        print()
    print()

    choice = int(input("Pick a number (0 to exit): "))
    if choice == 0:
        break

    row = (choice - 1) // 3
    col = choice - row * 3 - 1

    tic_tac_toe[row][col] = user
    
    if user == 'X':
        user = 'O'
    else:
        user = 'X'

1|2|3|
4|5|6|
7|8|9|

1|2|3|
4|X|6|
7|8|9|

1|2|3|
4|O|6|
7|8|9|

1|X|3|
4|O|6|
7|8|9|

O|X|3|
4|O|6|
7|8|9|

O|X|3|
4|O|6|
7|8|X|

In [53]:
cities = ['Halifax', 'Dartmouth', 'Vancouver', 'Toronto']
cities[-1:-3:-1] # third parameter is amount to increase/decrease by
cities = cities[::-1] # go through entire list backwards
cities

['Toronto', 'Vancouver', 'Dartmouth', 'Halifax']

In [60]:
numbers = [10, 20, 30, 40, 50]
ten = numbers[0]
twenty = numbers[1]
thirty = numbers[2]

# destructuring
ten, twenty, thirty, *rest = numbers
ten, twenty, thirty, rest

(10, 20, 30, [40, 50])

In [75]:
even_nums = [2, 4, 6, 8, 10]

# reverse a list
even_nums[::-1] # won't modify the original list
even_nums.reverse() # modifies the original list
even_nums

# sort a list
random_nums = [1, 5, 3, 8, 2, 9]
sorted(random_nums) # doesn't modify the original list
random_nums.sort() # modifies the original list
random_nums

# check for value in list
random_nums.index(3) # only works if the value exists in the list
3 in random_nums # returns True or False, if the value is in the list
4 not in random_nums # returns True or False, if the value is NOT in the list

# get unique values
non_unique = [1, 1, 1, 2, 2, 2, 3, 3, 3, 3, 3, 4]
list(set(non_unique))

# change other things to lists
list(range(1, 11, 2))
list("Hello World!")

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!']

In [ ]:
# strings as lists
str = list("Hello World!")
l = str[0:5]
l[0] = "J" # allowed as lists are "mutable"
print(f"l = {l}")

str = "Hello World!"
s = str[0:5]
# s[0] = "J" # not allowed as strings are "immutable"

print(f"l = {type(l)}, s = {type(s)}")

l = ['J', 'e', 'l', 'l', 'o']

TypeError: 'str' object does not support item assignment